body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  color: #616161;
}

.glowna {
  width: 100vw;
  height: 100vh;
  background-image: url(img/1.png);
  background-size: cover;
}

.logo {
  width: 20%;
  margin: 0;
  float: left;
}

.logo img {
  width: 100%;
}

.menu {
  position: relative;
  top: 5%;
  width: 60%;
  margin: 0;
  margin-right: 7%;
  color: white;
  text-transform: uppercase;
  float: right;
}

.przycisk_menu {
  font-size: 1.5em;
  float: right;
  margin-left: 1%;
  margin-right: 1%;
}

.innowacje_bloczki {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -17%;
}

.innowacje_bloczek {
  width: 30.3%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  background: rgb(26,116,125);
background: radial-gradient(circle, #1a747d 0%, #10284e 40%, #000000 100%);
  float: left;
  padding: 2%;
  color: white;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;   
}

#menu_na_tele {
  display: none;
}

.przycisk_menu:hover {
  cursor: pointer;
}

.tylko_mobilka_itemki {
  display: none;
}

.tylko_komp_itemki {
  display: block;
}

.inne_produkty ol {
  padding-inline-start: 0px;
  margin-block-start: 0px;
}

.opis_glowny {
  width: 40%;
  color: white;
  position: absolute;
  top: 32.5%;
  margin-left: 7%;
  font-size:18px;
}

.tytul_opis_glowny {
  font-size: 40px;
  font-weight: bolder;
}

.logo_obrazek {
  width: 40%;
  margin: 0;
}

.o_firmie {
  width: 100%;
  background-color: white;
}

.o_firmie b {
  font-weight: 500;
}

.innowacje {
  width: 100%;
  background-color: white;
}

.skocznia {
  width: 100%;
}

.tytul_zakladki {
  text-transform: uppercase;
  font-size: 30px;
  color: #020c23;
  font-weight: bold;
  margin-bottom: 5%;
  margin-top: 2%;
  width: 86vw;
  margin-left: 7%;
  margin-right: 7%;
  float: right;
}

.produkty .tytul_zakladki {
  width: 79vw;
}

.tytul_zakladki_napis {
  width: fit-content;
  padding: 8px;
  border-bottom: 3px solid #146878;
  float: right;
}

.bloczki {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  height: 80vh;
}

.bloczek {
  width: 20%;
  float: left;
  margin: 0;
  font-size: 1em;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  color: black;
}

.tytul_bloczka {
  font-weight: bold;
}

.obrazek_bloczek {
  max-width: 7vw;
}

#bloczek1 {
  padding-top: 260px;
}

#bloczek2 {
  padding-top: 316px;
}
#bloczek3 {
  padding-top: 172px;
}

.tytul_bloczka_innowacje {
  padding: 15px;
  border-bottom: 3px solid #1a747d;
  width: fit-content;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #0ba1ac;
}

::-webkit-scrollbar-thumb {
  background: #002835;
}

.produkt {
  width: 70%;
  float: left;
  margin-top: -80px;
  font-size: 20px;
}

.tytul_produktu {
  font-size: 30px;
  font-weight: bold;

}

.tabela {
  border-spacing: 10px;
}

.ang {
  display: none;
}

.nazwa_produktu {
  padding: 20px;
  margin-bottom: 5px;
  user-select: none;
  margin-left: 0;
  padding-left: 10px;
  letter-spacing: 1.5px;
}

.nazwa_produktu:hover {
  cursor: pointer;
}

#obrazek_mobilka {
  display: none;
}

#logo_mobilka {
  display: none;
}

.menu_przycisk {
  display: none;
}

.do_gory {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background-color: #002835;
  position: fixed;
  bottom: 5px;
  right: 5px;
  border-radius: 30px;
  z-index: 9999;
}

.do_gory:hover {
  cursor: pointer;
  background-color: #003c5f;
}

.innowacje {
  width: 100vw;
}

.innowacja {
  width: 100%;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.innowacja_zdjecie{
  width: 22.5%;
  float: left;
  border-right: 1px solid #616161;
  padding-right: 5%;
  text-align: center;
}

.innowacja_zdjecie img {
  margin-left: -15%;
  margin-top: 30px;
  width: 63%;
  transform: rotateY(180deg);
}

.innowacja_opis {
  margin-left: 5%;
  margin-bottom: 5%;
  width: 60%;
  float: left;
}

.produkty {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

.inne_produkty {
  width: 25%;
  float: left;
  font-size: 25px;
  margin: 0;
  border-left: 3px solid #003c5f;
  padding-left: 1.25%;
}

.spis_produkt {
  font-size: 20px;
  color: #002835;
  font-weight: bold;
  line-height: 30px;
}

.spis_produkt:hover {
  color: #58b3dd;
  cursor: pointer;
}

.produkty .tytul_produktu {
  color:   #162e43;
}

.produkty .podkategoria {
  color: #222222;
  font-weight: 500;
  margin-bottom: 20px;
}

.produkty .nazwa_produktu {
  color: #616161;
  box-shadow:         -1px 2px 6px 0px #adadadbf;
  font-size: 15px;

}

.innowacja_opis b {
  font-weight: 600;
}

.kariera {
  width: 100vw;
  overflow: visible;
}

.krecha {
  margin-top: 5%;
  width: 100vw;
  height: 50px;
background: radial-gradient(circle, rgba(26,116,125,1) 0%, rgba(16,40,78,1) 63%, rgba(0,0,0,1) 100%);
}

.kariera img {
  width: 100%;
  background-color: white;
}

.tabela_kariera {
  margin-top: -10%;
  width: 60%;
  margin-left: 10%;
  font-size: 22px;
}

.numerek {
  width: 10%;
}

.kariera table
{
  border-collapse: collapse;
}

.mapiszcze {
  height: 700px;
}

.kontakt {
  background-color: white;
}

.komunikacja {
  background-color: #162e43;
}

.kontakt_bloczki {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
}

.kontakt_bloczek {
  width: 30%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  color: white;
  display: inline-block;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;   
}

.stopka .kontakt_bloczki {
  padding-bottom: 0;
}

.stopka .kontakt_bloczek
{
  color: black;
  vertical-align: middle;
}

.stopka .kontakt_bloczek img
{
  height: 20vh;
}

.kontakt_bloczek img{
  float: left;
  margin-right: 20px;
}

.kontakt_bloczek h1{
  margin-block-start: 0;
}

.stopka {
  background-color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

a {
  text-decoration: none;
  color: unset;
}

#map {
  width: 100%; 
  height: 700px;
  background-color: white;
}

.obrazek_bloczek_logo
{
  width: 60%;
}

.linia_glowna {
  display: block;
}

.kontener_produkty {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.przyciski_stopka {
  margin-left: 1%;
}

.przyciski_stopka:hover {
  cursor: pointer;
  color: #003c5f;
}

#ds .przyciski_stopka {
  margin-left: 0;
  line-height: 25px;
}

.formularze {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100vw;
  background-color: white;
  font-size: 20px;
}

.download {
  border-left: 3px solid  #003c5f;
  padding: 3%;
  padding-top: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
}

.download li
{
  list-style-image: url(img/ikona_download.png);
  letter-spacing: 1.5px;
  color: #002835;
  font-weight: 700;
  padding: 5px;
  box-shadow:-1px 2px 6px 0px #adadadbf;
  list-style-position: inside;
  margin-bottom: 5px;
}

.download .tytul_produktu {
  color: #002835;
}

.szary_opis
{
  color: #616161;
  font-weight:300;
}

.produkty a {
  color: #0ba1ac;
}

.produkty a:hover {
  color: #11d4e2;
}

.produkt ol, .download ol {
  padding-inline-start: 0px;
}

.eee {
  top: -120px;
}

.aaa {
  height: 650px; 
  z-index: 30;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

.kreska {
  height: 20px;
  background-color: #1a747d;
}

.innowacje_blok1 {
  background-color: #eeeeeb;
  color: #898987;
  float: right;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: -100px;
}

.innowacje_blok1_tytul {
  width: fit-content;
  float: right;
  color: black;
  text-align: right;
  font-size: smaller;
}

.innowacje_blok1_opis {
  margin-top: 50px;
  float: right;
  font-size: smaller;
  color: #272727;
}

.innowacje_blok2 {
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}

.innowacje_blok2_opis {
  color: #272727;
  font-size: smaller;
}

.innowacje_blok3 {
  background: radial-gradient(circle, rgba(26,116,125,1) 0%, rgba(16,40,78,1) 0%, rgba(0,17,33,1) 100%, rgba(0,0,0,1) 100%);
  padding: 15px;
  color: white;
  float: right;
  box-sizing: border-box;
  box-shadow: 0px 6px 5px #8b8b8bbf;
}

.innowacje_blok3_opis {
  margin: 30px;
  float: right;
  font-size: smaller;
}

.innowacje_blok4 {
  -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.5); 
  box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.5);
  background-color: #eeeeeb;
  padding: 20px;
  box-sizing: border-box;
}

.innowacje_blok4_opis {
  color: #020c23;
}

.innowacje_blok5 {
  background-color: white;
  color: #10284e;
  box-sizing: border-box;
  padding: 20px;
}

.innowacje_blok5_opis {
  margin-top: 50px;
  text-align: right;
  font-size: smaller;
}

.innowacje_blok5_lista {
  margin-top: 30px;
}

.innowacje_blok5_lista ol{
  font-size: smaller;
  list-style-type: circle;
}

.kariera_mobilka_komunikat {
  background: radial-gradient(circle, rgba(26,116,125,1) 0%, rgba(26,100,133,1) 0%, rgba(0,17,33,1) 100%, rgba(0,0,0,1) 100%);
  box-sizing: border-box;
  padding: 30px;
  color: white;
  font-size: smaller;
}

.reklama {
  color: white;
  position: absolute;
  top: 20%;
  right: 10%;
  font-size: 50px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.reklama:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1430px) { 
    .eee {
      top: 0px;
    }

    .opis_glowny {
      top: 24.5%;
    }

    .przycisk_menu {
      font-size: 1em;
    }

    .glowna {
      height: 110vh;
    }

}